html {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dd,
figure,
figcaption,
blockquote,
fieldset,
legend,
button,
pre,
table,
hr {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  font-family: inherit;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea,
select,
button {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
  font-family: var(--font-primary);
  color: var(--color-text-primary);
  background-color: var(--color-background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Outfit";
  src: url("../../fonts/HelveticaNeue.ttf") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  src: url("../../fonts/HelveticaNeueCyr-Medium.ttf") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  src: url("../../fonts/HelveticaNeueCyr-Bold.ttf") format("woff2");
  font-weight: 700;
  font-style: normal;
}
