.form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.submitContainer {
  margin-top: 40px;
}

.submitButton {
  width: 100%;
  border-radius: 30px;
  padding: 14px 28px;
  background-color: #103931;
  color: #fbfbfb;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.01em;
  cursor: pointer;
  transition: all 0.3s ease;
  border: none;
}

.submitButton:hover {
  background-color: #1a5c4f;
}

.submitButton:disabled {
  background-color: rgba(16, 57, 49, 0.6);
  cursor: not-allowed;
}
